<h1>table using  json server</h1>
<hr>

<a (click)="convert()">Generate PDF</a>

<table id="students">
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let user of users">
    <td *ngFor="let col of index">
      {{user[col]}}
    </td>
  </tr>

</table>

<div class="row">
  <div id="hotel_map"></div>
</div>